@font-face {
    font-family: "son";
    src: 
    url('../fonts/Segoe UI.ttf')  format('truetype');
    }
    @font-face {
        font-family: "robReg";
        src: 
        url('../fonts/Roboto-Regular.ttf')  format('truetype');
        }
        @font-face {
            font-family: "sonbold";
            src: 
            url('../fonts/Segoe UI Bold.ttf')  format('truetype');
            }
            @font-face {
                font-family: "sonl";
                src: 
                url('../fonts/segoeuil.ttf')  format('truetype');
                }
                @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

                

.ksdb{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../images/IKO/add\ car\ icon.svg');
    background-repeat: no-repeat;
    background-size: 11%;
    padding-left: 40px;

    background-position: 12% 50%;
}
.ksdb:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/add\ car\ icon\ h.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
 padding-left: 40px;
 padding-top:10px;
 padding-bottom: 10px;
}
.ksdb:active{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/add\ car\ icon\ c.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
  
  
 padding-left: 40px;
 padding-top:10px;
 padding-bottom: 10px;
}



.ksdb1{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../images/IKO/list\ of\ cars\ icon.svg');
    background-repeat: no-repeat;
    background-size: 11%;
    padding-left: 38px;

    background-position: 12% 50%;
}
.ksdb1:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/list\ of\ cars\ icon\ h.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
 padding-left: 38px;
 padding-top:10px;
 padding-bottom: 10px;
}
.ksdb1:active{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/list\ of\ cars\ icon\ c.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
  
  
 padding-left: 38px;
 padding-top:10px;
 padding-bottom: 10px;
}



.ksdb2{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../images/IKO/add\ client.svg');
    background-repeat: no-repeat;
    background-size: 11%;
    padding-left: 30px;

    background-position: 12% 50%;
}
.ksdb2:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/add\ client\ h.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 14.5%;
 padding-left: 30px;
 padding-top:10px;
 padding-bottom: 10px;
}
.ksdb2:active{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/add\ client\ c.svg') 12% 90%;
   background-repeat: no-repeat;
   background-size: 19%;
  
  
 padding-left: 30px;
 padding-top:10px;
 padding-bottom: 10px;
}



.ksdb3{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../images/IKO/clients\ list.svg');
    background-repeat: no-repeat;
    background-size: 11%;
    padding-left: 37px;

    background-position: 12% 50%;
}
.ksdb3:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/clients\ list\ h.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
 padding-left: 37px;
 padding-top:10px;
 padding-bottom: 10px;
}
.ksdb3:active{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../images/IKO/clients\ list\ c.svg') 12% center;
   background-repeat: no-repeat;
   background-size: 13%;
  
  
 padding-left: 37px;
 padding-top:10px;
 padding-bottom: 10px;
}
.btn-outline-danger:hover {
    font-weight: bold;
    
}
.btn-outline-danger {
   
  font-weight: bold;

}

h3{
    font-family: 'sonbold', sans-serif;
    color: #707070;

}
.bsdf{
    font-family: 'sonbold', sans-serif;
    color: #707070;
}
.bsdf:hover{
    font-family: 'sonbold', sans-serif;
    color: #000;
}
.cdc{
    font-family: 'sonbold', sans-serif;
color:red;

}
.cdc:hover{
    font-family: 'sonbold', sans-serif;
    color:lightcoral;
}
.sdb{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../icons/cars\ grey.png');
    background-repeat: no-repeat;
    background-size: 19%;
    padding-left: 60px;

    background-position: 9% 50%;
}
.sdb:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../icons/cars.png') 10% center;
   background-repeat: no-repeat;
   background-size: 20%;
  
  
 padding-left: 60px;
 padding-top:10px;
 padding-bottom: 10px;
 }


 .sdb1{
    font-family: 'robReg', sans-serif;
}
.jgl{
    background-color:#21B8AF;
    font-family: 'sonbold', sans-serif;
    color:#fff;

}

 .sdb2{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../icons/add\ car\ icon\ grey.png');
    background-repeat: no-repeat;
    background-size: 19%;
    padding-left: 60px;

    background-position: 9% 50%;

}
.sdb2:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../icons/add\ car\ icon.png') 10% center;
   background-repeat: no-repeat;
   background-size: 20%;
  
  
 padding-left: 60px;
 padding-top:10px;
 padding-bottom: 10px;
 }
 .sdb3{
    font-family: 'robReg', sans-serif;
    color: #707070;
    background-image: url('../icons/clients\ grey.png');
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: 11% 50%;
    padding-left: 30px;
    padding-top:5px;
    padding-bottom: 5px;
   
}

.prof{
    height: auto;
    width: 60px;
}
.sdb3:hover{
    color:#E1B72A;
    background:
    linear-gradient(
      to right,
      #E1B72A 0%,
      #E1B72A 10px,
      transparent 5px
    ),url('../icons/clients.png') 10% center;
   background-repeat: no-repeat;
   background-size: 18%;
   padding-left: 30px;
   padding-top:10px;
   padding-bottom: 10px;
 }
 .xan{
     width: 100%;
 }

.xan > form{
   
  
background-color: #fff;
padding: 2%;

    }
   .pol > input{
        width: 100% !important;
        padding: 5px  !important;
        MARGIN: 5px !important;
    }
   
    .btn-outline-primary:hover {
        color: #fff;
        font-weight: bold;
        
        background-color: #E1B72A;
        border-color: #E1B72A;
    }
    .btn-outline-primary {
        color: #E1B72A;
        background-color: transparent;
        background-image: none;
        border-color: #E1B72A;
      font-weight: bold;
    
    }
    
    label{
        font-family: 'sonbold', sans-serif;
        color: #707070;
        padding: 5px 0;
        font-size:17px;
        margin: 5px;

    }
    .form-row{
        margin-bottom: 15px !important;

    }
    /* This is the default state */
.custom-radio .custom-control-label::before {
    background-color: none;  /* orange */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #21B8AF;  /* green */
    /* this bg image SVG is just a white circle, you can replace it with any valid SVG code */
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #21B8AF; /* red */
}
    
/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
    select{
        color: #21B8AF;
        background-color: #fff;
        border:0;
    
        border-bottom: 2px solid #21B8AF;
        padding: 5px 0;
width: 75%;
margin: 5px;
}
   .pord{
        width: 75%;
        padding: 15px;
margin: 5px;
color: #707070;
        background-color: #fff;
    border: 1px solid #707070;
    
}
/*     
.col > input::placeholder{
    color: #21B8AF !important;
    font-size:15px;
    opacity: 1; Firefox 
} */

.prf{
    color:#21B8AF;

}


.icons{
    width:50px;
    height: auto;
    /* top: 23px;
    position: absolute;
    left: 12px;  */
}
.f{
    display: none;
}
.dmr{
    box-shadow: unset;
}
body {
  overflow-x: hidden;
  background-image: url('../images/bg/Web\ 1920\ –\ 6.png');
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height:100%;
}
   .logo{
    width:60px;
    height: auto;
    padding-top: 4px;
   }
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    input:hover{
        border:2px solid #21B8AF;
    }
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
 
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    .wrapper {
        display: flex;
        width: 100%;
    }
    
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        height: 100%;
        z-index: 999;
        background: #fff;
        color: #707070;
        transition: all 0.3s;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(201,201,201,0.54);
        -moz-box-shadow: 3px 3px 3px 0px rgba(201,201,201,0.54);
        box-shadow: 3px 3px 3px 0px rgba(201,201,201,0.54);}
    
  
    #sidebar .sidebar-header {
        padding: 20px;
        background: #fff;
    }
    
    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: unset;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }
    
    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    

    
    #sidebar ul li.active>a {
        color: #707070;
    background:
  url('../icons/client\ grey.png') 12% center;
   background-repeat: no-repeat;
   background-size: 11%;
   padding-left: 34px;
   padding-top:10px;
   padding-bottom: 10px;
    }
    
    a[data-toggle="collapse"] {
        position: relative;
    }
    
 
   
    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        /* background: #fff; */
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    
    #content {
        width: calc(100% - 250px);
        padding: 0px;
        background-image: unset;
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #content.active {
        width: 100%;
    }
    
   
    .overlay.active {
        display: none;
    }
    #dismiss {
       display: none;
    }
    .smrt{
      padding:40px;
      width:100%;
    }
    html{
        width: 100%;
        height:100%;
      }
      .fling{
       display: none;

    }
 .darpi{
    -webkit-appearance: none;
    background-color: #fff;
border:0;

border-bottom: 2px solid #8B8B8B;
padding-left: 0;
 }
 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8B8B8B !important;
    font-size:16px;

    font-family: 'robReg', sans-serif;

    opacity: 1; /* Firefox */
  }
  input[type="text"]:disabled {
    background: #fff;
  }
  .prp{
      padding:10px;
  }
.brr{
    text-align: center;
}
.nr{
    font-size: 18px;
    font-family: 'sonbold', sans-serif;
    color: #707070;

}
.kr{
    font-size:12px;
}
.pld{
    padding:8px;
    float: right;
}
@media (max-width:768px){
    .cidar{
       display: none;
    }
    .fling{
        text-align: center;

display: unset;

    }
    .ping{
      display: none;
    }
    .pds{
padding: 3px;
font-size:10px;
    }
    .kola{
        display: none;
    }
    h3{
        font-size:20px !important;
    }
    .darpi{
    padding: 0;
    border-bottom: 1px solid #21B8AF;
     }
     ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        /* color: #21B8AF !important; */
        font-size:10px;
        /* opacity: 1; Firefox */
      }
    .f{
        display: unset;
    }
    .sdb{
        font-family: 'robReg', sans-serif;
        color: #707070;
        background-image: url('../icons/add\ car\ icon\ grey.png');
        background-repeat: no-repeat;
        background-size: 19%;
        padding-left: 60px;
        background-position: 9% 50%;
    }
    .sdb:hover{
        color:#E1B72A;
        background:
        linear-gradient(
          to right,
          #E1B72A 0%,
          #E1B72A 10px,
          transparent 5px
        ),url('../icons/add\ car\ icon.png') 10% center;
       background-repeat: no-repeat;
       background-size: 20%;
      
      
     padding-left: 60px;
     padding-top:10px;
     padding-bottom: 10px;
     }
    
    
   
    
     .sdb2{
        font-family: 'robReg', sans-serif;
        color: #707070;
        background-image: url('../icons/client\ grey.png');
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: 13% 50%;
        padding-left: 34px;
        padding-top:5px;
        padding-bottom: 5px;
    
    }
    
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;

    transition: all 0.3s;
    overflow-y: scroll;
   }

    .sdb2:hover{
        color:#E1B72A;
        background:
        linear-gradient(
          to right,
          #E1B72A 0%,
          #E1B72A 10px,
          transparent 5px
        ),url('../icons/client.png') 12% center;
       background-repeat: no-repeat;
       background-size: 11%;
       padding-left: 34px;
       padding-top:10px;
       padding-bottom: 10px;
     }
     .sdb3{
        font-family: 'robReg', sans-serif;
        color: #707070;
        background-image: url('../icons/clients\ grey.png');
        background-repeat: no-repeat;
        background-size: 16%;
        background-position: 11% 50%;
        padding-left: 30px;
        padding-top:5px;
        padding-bottom: 5px;
       
    }
    
    .prof{
        height: auto;
        width: 40px;
    }
    .sdb3:hover{
        color:#E1B72A;
        background:
        linear-gradient(
          to right,
          #E1B72A 0%,
          #E1B72A 10px,
          transparent 5px
        ),url('../icons/clients.png') 10% center;
       background-repeat: no-repeat;
       background-size: 18%;
       padding-left: 30px;
       padding-top:10px;
       padding-bottom: 10px;
     }
     
  
    
    .icons{
        width:10px;
       
    }
    .logo{
        width:60px;
        height: auto;
        padding-top: 3px;
        /* top: 23px;
        position: absolute;
        left: 12px;  */
    }
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    .chim{
      color:#000;
    }
    .caef{
      float:left;
    
    }
    
    body {
        overflow-x: hidden;
        font-family: 'robReg', sans-serif;
        background-image: url('../images/bg/mobile.png');
        background-attachment: fixed;
        background-position: center center;
      
        background-repeat: no-repeat;
        background-size: cover;
               width: 100%;
        height:100%;
      }
   
      /*
        DEMO STYLE
    */
    
    
    
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #999;
    }
    
    a,
    a:hover,
    a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    
    .navbar {
        padding: 5px Opx;
      
        /* box-shadow: 1px 1px 3px rgba(85, 85, 85, 0.1); */
    }
    
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    
    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
    
    
    
    #sidebar.active {
        left: 0;
    }
    
    #dismiss {
        width: 10px;
        height: 1Opx;
        line-height: 10px;
        text-align: center;
        background: #FFF;
        position: absolute;
        display: unset;
        top: 5px;
        right: 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
   
    .smrt{
        padding: 24px;
        width: 100%;
        
      }
    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 998;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .overlay.active {
        display: block;
        opacity: 1;
    }
    
    #sidebar .sidebar-header {
        padding: 20px;
    }
    
    #sidebar ul.components {
        padding: 3px 0;
    }
    
    #sidebar ul p {
        color: #fff;
        padding: 3px;
    }
    
    #sidebar ul li a {
        padding: 3px;
        font-size: 1.1em;
        display: block;
    }
    
 
    
    #sidebar ul li.active>a{
        background:
      url('../icons/cars\ grey.png') 10% center;
       background-repeat: no-repeat;
       background-size: 19%;
       font-family: 'robReg', sans-serif;
       color: #707070;
      
     padding-left: 43px;
     padding-top:10px;
     padding-bottom: 10px;
    }
  

  
    
    #content {
        width: 100%;
        padding: 5px;
        min-height: 100vh;
     
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
    }
}
